.background {
-fx-base: rgb(50, 50, 50);
-fx-background: rgb(50, 50, 50);
-fx-control-inner-background:  rgb(50, 50, 50);
-fx-background-color: #262626;
}

.btn{
-fx-color:orange;
}

.previewButton{
-fx-color:#4b8900;
}

.pane {
-fx-background-color: #333333;
}

.replaceThisPane {
-fx-background-color: #222222;
}